<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Menu</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/css/styles-menu.css" />
  </head>
  <body>
    <header class="cabecera">
      <input type="checkbox" id="menu-toggle" class="menu-checkbox" />
      <label for="menu-toggle" id="open" class="bars"></label>
      <nav class="navegacion">
        <label for="menu-toggle" id="close" class="bars-nav"></label>
        <ul class="lista">
          <li class="items"><a href="./menu.html">MENU</a></li>
          <li class="container-logo">
            <a href="/views/"
              ><img src="../public/imgs/Logo.png" alt="Logo Restaurante"
            /></a>
          </li>
          <li class="items"><a href="/views/#contacto">CONTACTAR</a></li>
        </ul>
      </nav>
    </header>

    <main class="container-main-menu">
      <section class="first-view-menu">
        <article class="presentacion-menu cortina">
          <h1>Menú</h1>
          <p>
            Descubre nuestra carta y disfruta de la mejor comida francesa en
            nuestro restaurante.
          </p>
        </article>
        <a href="#" class="arrow-down"
          ><img src="../public/imgs/arrow-down.svg" alt=""
        /></a>
      </section>
      <div class="separador"></div>
        <section class="menu">
          <article>
            <h2 class="destacados-title">Destacados</h2>
            <div class="cart cart-destacada">
              <img
                src="../public/imgs/comida/hojas-rellenas.png"
                alt="Ensalada"
              />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart cart-destacada">
              <img src="../public/imgs/comida/bebida3.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart cart-destacada">
              <img
                src="../public/imgs/comida/postre3.png"
                alt="Ensalada"
              />

              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart cart-destacada">
              <img
                src="../public/imgs/comida/carneRica.png"
                alt="Ensalada"
              />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
          </article>

      <section class="sect-menu">
        <div class="separador"></div>
        <section class="menu">
          <article>
            <h2>ENTRADAS</h2>
            <div class="cart">
              <img
                src="../public/imgs/comida/hojas-rellenas.png"
                alt="Ensalada"
              />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img src="../public/imgs/comida/hojas-y-mas.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img
                src="../public/imgs/comida/masa-con-tomatitos.png"
                alt="Ensalada"
              />

              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img
                src="../public/imgs/comida/entrada-nose.png"
                alt="Ensalada"
              />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
          </article>

          <div class="separador"></div>
          <article>
            <h2>PLATOS PRINCIPALES</h2>
            <div class="cart">
              <img src="../public/imgs/comida/salmon.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img
                src="../public/imgs/comida/carne-arbejas.png"
                alt="Ensalada"
              />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img src="../public/imgs/comida/carneRica.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img
                src="../public/imgs/comida/carne-verduras.png"
                alt="Ensalada"
              />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
          </article>

          <div class="separador"></div>
          <article>
            <h2>BEBIDAS</h2>
            <div class="cart">
              <img src="../public/imgs/comida/bebida1.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img src="../public/imgs/comida/bebida2.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img src="../public/imgs/comida/bebida3.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img src="../public/imgs/comida/bebida4.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
          </article>

          <div class="separador"></div>
          <article>
            <h2>POSTRES</h2>
            <div class="cart">
              <img src="../public/imgs/comida/postre1.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img src="../public/imgs/comida/postre2.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img src="../public/imgs/comida/postre3.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
            <div class="cart">
              <img src="../public/imgs/comida/postre4.png" alt="Ensalada" />
              <div class="cont-info">
                <h3>Ensalada de la casa</h3>
                <p class="descripcion-comida">
                  Ensalada de remolacha, lechuga y cebolla
                </p>
                <p class="precio">8€</p>
              </div>
            </div>
          </article>
        </section>

        <div class="separador"></div>
      </section>
    </main>

    <footer>
      <div class="footer-logo">
        <img src="../public/imgs/LogoCF.jpg" alt="Logo Restaurante" />
      </div>
      <div class="footer-info">
        <p>
          Gusteau's <br />
          5 Rue de la Paix, 75002 Paris, Francia <br />
          Teléfono: +33 1 43 16 22 22
        </p>
      </div>
      <div class="footer-social">
        <a href=""
          ><img src="../public/imgs/facebook-icon.svg" alt="Facebook"
        /></a>
        <a href=""
          ><img src="../public/imgs/instagram-icon.svg" alt="Instagram"
        /></a>
        <a href=""><img src="../public/imgs/x_icon.svg" alt="Twitter" /></a>
      </div>
    </footer>
  </body>
</html>
